<!-- Webflow -->
<link rel="stylesheet" href="https://whimtemplates.netlify.com/css/webflow.css" />

<!-- Webflow JS -->
<script src="https://whimtemplates.netlify.com/js/webflow.js"></script>


<!-- UIkit CSS -->
<link rel="stylesheet" href="https://whimtemplates.netlify.com/css/uikit.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>


<!-- Vanishing Hanger JS -->
<script src="https://whimtemplates.netlify.com/js/vanishinghanger.js"></script>


<script>// <![CDATA[
 new VanishingHanger({ bran-
dID: "2e88777a-f025-11e9-841b-0a39952868f2" });
// ]]></script>