<!-- /templates/page.full-width.liquid -->
<header class="section-header text-center">
  <h1>{{ page.title }}</h1>
  <hr class="hr--small">
</header>

  <div class="uk-width-1-1">
  {{ page.content }}
</div>
